{% extends "layout.html" %}
{% load static %}
{% block home%}active{%endblock%}
{%block content %}
<div class="container icontainer">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h1>Welcome Back, {{fullName}} </h1>
            <p>We're glad to have you back! Dive into your projects, explore new possibilities, and stay ahead with the latest insights. 
                Whether you're here to work or play, everything you need is just a click away.</p>
            <a href="" >Dive In</a>
        </div>
        <div class="d-none d-sm-block  col-6">
            <img src="{% static 'bg.png'%}" alt="">
        </div>
    </div>
</div>
{% endblock %}