{% extends "layout.html" %}
{% load static %}
{% block login%}active{%endblock%}
{%block content %}
<div class="container-fluid whole">
    <div class="row">
        <div class="col-md-6 col-12  information">
            <div class="itop">
                <img src="{% static 'logo.png' %}" alt="">
                <h1>Authentication</h1>
            </div>
            <h2>Welcome to Our Secure Portal</h2>
            <p>
                Access your account securely and enjoy all the benefits of our platform. 
                Whether you're managing your projects, staying in touch with your team, or exploring new opportunities, we've got you covered.
                 Your data privacy is our top priority.
            </p>
        </div>
        <div class="col-md-6 col-12 sign">
            <div class="signtop">
                <p>Don't have an account</p>
                <a href="{% url 'register' %}"> SignUp</a>
            </div>
            <h2>Sign In to Your Account</h2>
            <form action = "{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="email">
                    <img src="{% static 'envelope-solid.svg' %}" alt="">
                    <input required name = "email" type="Email" placeholder="Enter your email">
                </div>
                <div class="password">
                    <img src="{% static 'key-solid.svg' %}" alt="">
                    <input required name = "password" type="password" placeholder="Enter your password">
                </div>
                {% if error %}
                <p class = "error">{{ error }}</p>
                {% endif %}
                {% if success %}
                <p class = "success">{{ success }}</p>
                {% endif %}
                <input type="submit" value = "login">

            </form>
        </div>
    </div>
</div>
{% endblock %}