{% extends "layout.html" %}
{% load static %}
{% block register%}active{%endblock%}
{%block content %}
<div class="container-fluid whole">
    <div class="row">
        <div class="col-md-6 col-12  information">
            <div class="itop">
                <img src="{% static 'logo.png' %}" alt="">
                <h1>Authentication</h1>
            </div>
            <h2>Join Our Community</h2>
            <p>
                Sign up to access personalized features and stay connected with the latest updates. 
                Your journey starts here—whether you're managing tasks, exploring new content, or collaborating with others, it's all at your fingertips
            </p>
        </div>
        <div class="col-md-6 col-12 sign">
            <div class="signtop">
                <p>Already have an account</p>
                <a href="{% url 'login' %}"> Login</a>
            </div>
            <h2>Create your Account</h2>
            <form action = "{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="fullName">
                    <img src="{% static 'username.svg' %}" alt="">
                    <input  id = "fullName" name = "fullName" required type="text" placeholder="Enter you full name">
                </div>
                <div class="email">
                    <img src="{% static 'envelope-solid.svg' %}" alt="">
                    <input  id = "email" name = "email" required type="Email" placeholder="Enter your email address">
                </div>
                <div class="password">
                    <img  src="{% static 'key-solid.svg' %}" alt="">
                    <input name = "password" required type="password" placeholder="Create a strong password">
                </div>
                <div class="password">
                    <img  src="{% static 'key-solid.svg' %}" alt="">
                    <input  name = "passwordConfirmation" required type="password" placeholder="Confirm your password">
                </div>
                {% if error %}
                <p class = "error">{{ error }}</p>
                {% endif %}
                <input type="submit" value = "SignUp">
            </form>
        </div>
    </div>
</div>
{% endblock %}